.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
  %h1 
    <a href="/"><img src="/img/domokun_logo.gif" style="height:2em" /></a>
    Domo Kun Photos!
    %small Collect photos from friends

  -if !session[:registered] # if the user isn't registered
    %form.form-inline{action: "/", method: "post"}
      %fieldset.control-group{class: @error.nil? || @error.empty? ? "" : "error"}
        .input-prepend
          %span.add-on DomoKunPhotos.herokuapps.com/
          %input#username(placeholder="create_username" name="username" type="text" value="#{params['username']}")
          %button.btn.btn-success(type='submit' title="links with Dropbox") link with Dropbox
        %span.help-inline=@error
  -else
    %p{style: "color: green"} You're registered!
    %p
      -url = url('/') + session[:username] if session[:username]
      %a{href: url}=url

.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
  %h3{style: "color: #428bca;"}
    Great for gathering photos from friends!
  %p
    Crowdsource wedding photos, dinner party shots, and recover lost memories from friends & family.

  %h3
    Instructions
  %ol
    %li
      Choose a new username and click "link with Dropbox". Domo Kun Photos will set up an unique URL (with the username).
    %li
      Domo Kun Photos will ask for permission to link it to your Dropbox account and set up a folder under ~/Dropbox/Apps/domokunphotos.
    %li
      Photos uploaded through the link via Domo Kun Photos will sync directly with (save to) your designated Dropbox folder.
    %li
      After you set up an unique Domo Kun Photos URL, send it to your friends or share on Facebook to collect photos from them!
  %h3
    About
  %p
    Domo Kun Photos is open source. This software
    %a{href: "https://github.com/raywu/dbinbox"} project
    is originally forked from
    %a{href: "https://github.com/christiangenco/dbinbox"} christiangenco/dbinbox.