%h1 
  <a href="/"><img src="/img/domokun_logo.gif" style="height:2em" /></a>
  Domokun!
  %small Feed the Domokun the Photos

-if !session[:registered]
  %form.form-inline{action: "/", method: "post"}
    %fieldset.control-group{class: @error.nil? || @error.empty? ? "" : "error"}
      .input-prepend
        %span.add-on FeedDomokunPhotos.com/
        %input.span4#username(placeholder="your_username_here" name="username" type="text" value="#{params['username']}")
      %button.btn.btn-success(type='submit' title="links with Dropbox") connect with Dropbox
      %span.help-inline=@error
-else
  %p{style: "color: green"} You're registered!
  %p
    -url = url('/') + session[:username] if session[:username]
    %a{href: url}=url