<!DOCTYPE html>
%html
  %head
    %title Domo Kun: collect photos from friends!
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="viewport" content="width=device-width")
    %meta(property="og:title" content="Collect Photos from Friends")
    %meta(property="og:description" content="Domo Kun collects photos from your friends. Drag and Drop!")
    %meta(property="og:url" content="http://domokunphotos.herokuapp.com/")
    %meta(property="og:image" content="http://domokunphotos.herokuapp.com/img/domokun-large.jpg")
    %link{rel: "stylesheet", href: url("/css/bootstrap.min.css")}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
    /[if lt IE 7]
      %link{rel: "stylesheet", href: "http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"}
    %link{rel: "stylesheet", href: url("/css/jquery.fileupload-ui.css")}
    %link{rel: "stylesheet", href: url("/css/style.css")}
  %body.domo-body
    #fb-root
    .container.col-xs-12.col-sm-12.col-md-12.col-lg-12
      =yield


    %script{src: url("/js/jquery.min.js")}
    %script{src: url("/js/vendor/jquery.ui.widget.js")}
    %script{src: url("/js/jquery.iframe-transport.js")}
    %script{src: url("/js/jquery.fileupload.js")}
    %script{src: url("/js/jquery.fileupload-fp.js")}
    %script{src: url("/js/jquery.fileupload-ui.js")}
    %script{src: url("/js/app.js")}
    %script{src: url("/js/bootstrap.min.js")}
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '311107329056003',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    / google analysics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-51867900-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();