!!!
%html
  %head
    %title dbinbox
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="viewport" content="width=device-width")
    %meta(property="og:title" content="Feed the Domokun the Photos!")
    %meta(property="og:description" content="The Domokun Recovers Photos. Drag and Drop Please")
    %meta(property="og:url" content="http://immense-shelf-1596.herokuapp.com/")
    %meta(property="og:image" content="")
    %link{rel: "stylesheet", href: url("/css/bootstrap.min.css")}
    %link{rel: "stylesheet", href: url("/css/bootstrap-responsive.min.css")}
    /[if lt IE 7]
      %link{rel: "stylesheet", href: "http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"}
    %link{rel: "stylesheet", href: url("/css/jquery.fileupload-ui.css")}
    %link{rel: "stylesheet", href: url("/css/style.css")}
	%body.domo-body
	    .container.domo-container.row
      =yield

    %script{src: url("/js/jquery.min.js")}
    %script{src: url("/js/vendor/jquery.ui.widget.js")}
    %script{src: url("/js/jquery.iframe-transport.js")}
    %script{src: url("/js/jquery.fileupload.js")}
    %script{src: url("/js/jquery.fileupload-fp.js")}
    %script{src: url("/js/jquery.fileupload-ui.js")}
    %script{src: url("/js/app.js")}
    / google analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-51867900-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
