.domo-upper-face.row
  .domo-eyes.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-lg-offset-1.col-xs-offset-1.col-sm-offset-1.col-md-offset-1
  .domo-eyes.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-lg-offset-8.col-xs-offset-8.col-sm-offset-8.col-md-offset-8

.row
  .domo-mouth.col-xs-8.col-sm-8.col-md-8.col-lg-8.col-lg-offset-2.col-xs-offset-2.col-sm-offset-2.col-md-offset-2
    %ul.triangle-down
      %li.col-xs-2.col-sm-2.col-md-2.col-lg-2
      %li.col-xs-2.col-sm-2.col-md-2.col-lg-2
      %li.col-xs-2.col-sm-2.col-md-2.col-lg-2
      %li.col-xs-2.col-sm-2.col-md-2.col-lg-2
    .row
      %form.col-xs-12.col-sm-12.col-md-12.col-lg-12{action: @action, multipart: true, id: 'upload'}
        .row
          %table.filelist.col-xs-8.col-sm-8.col-md-8.col-lg-8.col-xs-offset-2.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
            %tbody.files
          .fileupload-progress.fade.col-xs-8.col-sm-8.col-md-8.col-lg-8.col-xs-offset-2.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
            .progress.progress-success.progress-striped.active
            .bar{:style => "width:0%;"}
            .progress-extended &nbsp;
          .fileupload-loading
          #dropzone.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-12
            %p RAWRRRRR! DOMO HAPPY!
          .instructions.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-12
            %p Drag and drop photos
          .btn.btn-danger.fileinput-button.col-xs-12.col-sm-10.col-sm-offset-1.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4{:style => ""}
            %i.icon-plus.icon-white
            %span Choose files
            %input{:multiple => "", :name => "files[]", :type => "file"}
          .instructions-small.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-12
            %p Keep #{@user.username}'s Domo happy :-)

    %ul.triangle-up 
      %li.col-xs-2.col-sm-2.col-md-2.col-lg-2
      %li.col-xs-2.col-sm-2.col-md-2.col-lg-2
      %li.col-xs-2.col-sm-2.col-md-2.col-lg-2
      %li.col-xs-2.col-sm-2.col-md-2.col-lg-2
	
%nav.navbar.navbar-default.navbar-fixed-bottom.navbar-domo{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#domo-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#", :style => "color: white;"} #{@user.username}'s Domo
    / Collect the nav links, forms, and other content for toggling
    #domo-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %button.btn.navbar-btn.navbar-text{:style => "color: white;"} Invite friends to add photos:
            .fb-share-button{"data-href" => "http://domokunphotos.herokuapp.com/#{@user.username}", "data-type" => "button"}
      %ul.nav.navbar-nav.navbar-right
        %li
          %button.btn.btn-danger.navbar-btn
            %a{:href => "/#{@user.username}", :style => "color: white;"} Reload, Ka-ching!
    / /.navbar-collapse
  / /.container-fluid