.domo.span12
.domo.span8.offset2
.instructions.span8
  %ul
    %li.span2
    %li.span2
    %li.span2
    %li.span2
  .domo-content
    %span Rawr! Feed the Domo Kun Photos :-)
    %form#upload{:action => "/send/domokuntest/", :multipart => ""}
      %table.filelist
        %tbody.files
      %span#upload_button.btn.btn-primary.fileinput-button{:style => "margin: 0 auto;"}
        %i.icon-plus.icon-white
        %span Choose files
        %input{:multiple => "", :name => "files[]", :type => "file"}
  %ul
    %li.span2
    %li.span2
    %li.span2
    %li.span2
#dropzone.span8
  %ul
    %li.span2
    %li.span2
    %li.span2
    %li.span2
  .domo-content
    %span FEED THE DOMO KUN! DOMO KUN HAPPY!
  %ul
    %li.span2
    %li.span2
    %li.span2
    %li.span2
%span#upload_button.btn.btn-primary.fileinput-button{:style => "clear: both;"}
%i.icon-plus.icon-white
%a{:href => "/domokuntest"} Reload, Ka-ching!